@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", serif;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: auto;
}

.full-width{
  padding: 50px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

/* .videos {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

video {
  width: 45%;
  border: 1px solid black;
  border-radius: 5px;
} */

video {
  width: 100%;
}

.box-white {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
}

.box-end {
  background: #69A366;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
  margin-top: 200px;
}

.txt-primary {
  color: #5b60a0;
}

.txt-white {
  color: #fff;
}

.txt-bold {
  font-weight: bolder;
}

a{
  text-decoration: none;
}

.btns {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
}

.btn:active {
  transform: translateY(4px);
}

.btn-mula{
  background-color: #83CA7F;
  box-shadow: 0 9px #69A366;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 30px;
}

.btn-mula:hover{
  background-color: #83CA7F;
}

.btn-mula:active{
  background-color: #83CA7F;
  box-shadow: 0 5px #69A366;
}

.box-mula{
  margin-top: 700px;
  width: 100%;
  padding: 20px;
}

.btn-end{
  background-color: #FF4A4A;
  box-shadow: 0 9px #C93131;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 30px;
}

.btn-end:hover{
  background-color: #FF4A4A;
}

.btn-end:active{
  background-color: #FF4A4A;
  box-shadow: 0 5px #C93131;
}

.btn-accept{
  background-color: #69A366;
  box-shadow: 0 9px #466e43;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 30px;
}

.btn-accept:hover{
  background-color: #69A366;
}

.btn-accept:active{
  background-color: #69A366;
  box-shadow: 0 5px #466e43;
}

.recording-container {
  display: flex;
  align-items: center;
  color: red; /* Text color */
}

.recording-dot {
  width: 15px; /* Size of the dot */
  height: 15px;
  background-color: red; /* Dot color */
  border-radius: 50%; /* Makes it a circle */
  animation: pulse 1s infinite; /* Pulsing animation */
  margin-right: 12px;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3); /* Enlarges the dot */
    opacity: 0.5;
  }
}
 
.remote-container{
  background-color: #c4c4c4;
  width: 100%;
  color: #939393;
}

#local-video{
  position: absolute;
  width: 200px;
  margin-top: 10px;
  /* margin-top: -140px; */
  margin-left: 10px;
}

.toggle-container {
  display: flex;
  gap: 8px;
}

.toggle-btn {
  padding: 8px 16px;
  border-radius: 999px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 20px;
}

.toggle-btn.active {
  background: #9333ea;
}

.rating {
  display: flex;
  gap: 4px;
}

.star {
  font-size: 50px;
  color: #d1d5db;
  cursor: pointer;
}

.star.active {
  color: #fbbf24;
}


/* this is for blur filter */
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensures clicks go through to the video */
}
